* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

#app {
    display: grid;
    height: 100vh;
    margin: 4.0rem 2.4rem;
}

h1 {
    font-weight: 200;
    color: var(--very-dark-blue);
}

h3, p {
    color: var(--grayish-blue);
}

h3 {
    font-weight: 400;
}

h2, span {
    color: var(--very-dark-blue);
    font-weight: 600;
}

.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2.0rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.card-heading {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.card-img {
    display: flex;
    flex-direction: row-reverse;
}

.border-cyan {
    border-top: 4px solid var(--cyan);
}

.border-red {
    border-top: 4px solid var(--red)
}

.border-orange {
    border-top: 4px solid var(--orange);
}

.border-blue {
    border-top: 4px solid var(--blue);
}

.cards-section {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 6.4rem;
}